/firstcloud/nbproject/private/
/firstcloud/build/
/firstcloud/dist/
/samsung/nbproject/private/
/samsung/build/
/nike/nbproject/private/
/nike/build/
/nandini/nbproject/private/
/nandini/build/
/nandini/dist/
/nike/dist/
/samsung/dist/